{% load staticfiles %}

<!DOCTYPE html>
<html>
  
 </head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Tpe" content="text/html; charset=utf-8">
	<title>Rally Peformance bench</title>
	
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/lib/css/style.css" %}"/>
 
 </head>
 
 <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src= "{% static "rallybench/lib/img/hp.png" %}">Rally Bench</a>
        </div>
      </div>
    </nav>
 <div class="container">
 	<div class="row">
 		<div class="col-sm-3" id="moreInfo">
 		</div>
 		<div class="col-sm-6" id="moreInfo">
 			<div class="loginBox">
 				<div class="title">Log in to your account</div>
 				<form action="/rallybench/login/" method="post">
 					<div class="control-group">
 						<div class="controls">
 							<label>User Name </label>
 							<input type="text" id="username" name="username" value="{{ username }}" placeholder="Username" required autofocus"/>
 						</div>
 					</div> <!-- control group -->
 					
 					<div class="control-group">
 						<div class="controls">
 							<label>Password</label>
 							<input type="password" id="password" name=password value="{{ password }}" placeholder="Password" required"/>
 						</div>
 					</div>
 					
 					<div class="contol-group">
 						<div class="controls">
 							<label class="checkbox">
 								<input type="checkbox"> Remember me
 							</label>
 						</div>
 					</div>
 					
 					<div class="control-group">
 						<div class="controls">
 							<button class="btn btn-info" type="submit">Sign in</button>
 							<input type="reset" class="btn" value="Reset"/>
 						</div>
 					</div>
 					</br>
 					<a href="#">Forgot my password</a>
 					{% csrf_token %}
 				</form>
 			</div> <!-- end of loginBox -->
 			</div>
 		</div> <!--  end of span5 offset3 -->
 	</div> <!-- end of raw tag -->
 </div> <!-- end of container tag -->
	<!-- Java script libraries -->
	<script type="text/javascript" src= "{% static "rallybench/jquery/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src= "{% static "rallybench/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>

  </body>
</html>
