{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rally for {{username}}</title>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>
  </head>
  <body>
	<div class="container">
	 <h2>Create a Deployment</h2>	
	  <form class="form-horizontal" role="form" action="." method="post">
		<div class="form-group">
		 <label class="control-label col-sm-2" for="text">Name:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="name" placeholder="Enter a friendly name" value= "{{ friendly_name }}">
		 </div>
		</div>
		<div class="form-group">
		 <label class="control-label col-sm-2" for="text">Type:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="type" placeholder="new" value= "{{ deployment_type }}">
		 </div>
		</div>
		<div class="form-group">
		<label class="control-label col-sm-2" for="text">URL (OS_AUTH_URL):</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="osc_auth_url" placeholder="Enter auth URL of controller" value="{{ osc_auth_url }}">
		 </div>
		</div>		
		<div class="form-group">
		<label class="control-label col-sm-2" for="text">Region:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="osc_region_name" placeholder="..." value = "{{ osc_region_name }}">
		 </div>
		</div>
		<div class="form-group">
		<label class="control-label col-sm-2" for="text">Endpoint Type:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="osc_endpoint_type" placeholder="public" value= "{{ osc_endpoint_type }}">
		 </div>
		</div>
		<div class="form-group">
		<label class="control-label col-sm-2" for="text">Tenant Name:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="osc_tenant_name" placeholder="Admin" value="{{ osc_tenant_name }}">
		 </div>
		</div>
		<div class="form-group">
		<label class="control-label col-sm-2" for="text">Username:</label>
		 <div class="col-sm-10">
		  <input type="text" class="form-control" name="osc_tenant_user_name" placeholder="admin" value= "{{ osc_tenant_user_name }}">
		 </div>
		</div>
		<div class="form-group">
		 <label class="control-label col-sm-2" for="pwd">Password:</label>
		 <div class="col-sm-10">          
		  <input type="password" class="form-control" name="osc_tenant_password" placeholder="Enter password" value="">
		 </div>
	        </div>
	        <div class="form-group">        
		<div class="col-sm-offset-2 col-sm-10">
		 <div class="checkbox">
		  <label><input type="checkbox"> Remember me</label>
		 </div>
		</div>
	      </div>
	      <div class="form-group">        
	       <div class="col-sm-offset-2 col-sm-10">
	        <form class="form-horizontal" action="." method="post">	 	
	 	 <input type="submit" class="btn btn-success" value="Create Deployment" name="createdepl"/>
		{% csrf_token %}
	        </form>
	       </div>	      
	  </form>
	</div>   
	<form class="form-horizontal" role="form" action="." method="post">
	<div class="container-fluid">
	 <h2 class="sub-header">Openstack Deployments ({{numdeployments}})</h2>
          <div class="table-responsive">
           <table class="table table-striped">
             <thead>
               <tr>
		 <th>Select</th>
                 <th>Id</th>
		 <th>Name</th>
                 <th>URL(OS_AUTH_URL)</th>
                 <th>Tenant</th>
                 <th>Username</th>
                 <th>Check</th>
               </tr>
             </thead>
             <tbody>
		{% for depl in deployments %}
	      <tr>		
		<td>
        	 <input type="checkbox" name="deployment" value = "{{ depl.osc_friendly_name }}" style="text-align:center; vertical-align: middle;">    
		</td> 
		<td>{{ depl.uniqueid }}</td>
		<td>{{ depl.osc_friendly_name }}</td>
		<td>{{ depl.osc_auth_url }}</td> 
		<td>{{ depl.osc_tenant_name }}</td>
		<td>{{ depl.osc_username }}</td>
		<td>{{ depl.validated }}</td>
	       </tr>
		{%endfor%}
	     </tbody>
           </table>
          </div>
	  <div class="container-fluid">
	   <h2>Component to Rally</h2>
	   <p>Choose the components to rally with:</p>	   
	    {% for atype in scenariotypes %}
		<label class="checkbox-inline">
		   <input type="checkbox" name = "{{ atype }}" value="{{ atype }}"> {{ atype }}
		</label>
	    {% endfor %}	  
 	 </div>
	 <div class="container-fluid">
	 <h2 class="sub-header"> Scenarios ({{numscenarios}})</h2>
          <div class="table-responsive">
           <table class="table table-striped">
             <thead>
               <tr>
		 <th>Select</th>
                 <th>Type</th>
                 <th>Scenario Name</th>
               </tr>
             </thead>
             <tbody>
		{% for scene in scenarios %}
		      <tr>		 
			<td>
            		  <input type="checkbox" name="{{ scene.scenario_type }}"  value= "{{ scene.scenario_file_name }}" style="text-align:center; vertical-align: middle;">    
			</td> 
			<td>{{ scene.scenario_type }}</td>
			<td>{{ scene.scenario_file_name }}</td>
		      </tr>
		{%endfor%}
	     </tbody>
           </table>
          </div>	
	</div>	
	<div class="form-group">        
	  <div class="col-sm-offset-2 col-sm-25">
	    <form class="form-horizontal" action="." method="post">	 	
	 	<input type="submit" class="btn btn-success" value="Run Scenario" name="mybtn">
		{% csrf_token %}
	    </form>
	  </div>
	</div>	
	</form>      		
	<script type="text/javascript" src= "{% static "rallybench/jquery/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src= "{% static "rallybench/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
        <script src="./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
