{% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Tpe" content="text/html; charset=utf-8">
	<title>Rally Peformance bench</title>
	
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>
</head>

<body>

    <div class="container">

      <form class="form-signin" action="/rallybench/login/" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
	username:
	<input type="email" name="username" value="{{ username}}" class="form-control" placeholder="Your name" required autofocus/>
	<br />
        <label for="inputPassword" class="sr-only">Password</label>
	password:
        <input type="password" name="password" value="" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	{% csrf_token %}
      </form>      
    </div> <!-- /container -->

	<!-- Java script libraries -->
	<script type="text/javascript" src= "{% static "rallybench/jquery/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src= "{% static "rallybench/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
</body>
</html>

