{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Rally for {{username}}</title>

    <!-- Bootstrap core CSS -->
    
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>
	<link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/dashboard.css" %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container-fluid">
	 <h2 class="sub-header">Task Lists ({{numtasks}})</h2>
          <div class="table-responsive">
           <table class="table table-striped">
             <thead>
               <tr>
		 <th>Select</th>
                 <th>Task Id</th>
		 <th>Deployment Used</th>
                 <th>Scenarios Verified</th>
		 <th>Created (Finished) Time</th>
                 <th>Output</th>
                 <th>Status</th>
               </tr>
             </thead>
             <tbody>
		{% for task in tasks %}
	      <tr>		
		<td>
        	 <input type="checkbox" name="task_selector" style="text-align:center; vertical-align: middle;">    
		</td> 
		<td>{{ task.task_id }}</td>
		<td>{{ task.deployment_name }}</td>
		<td>{{ scenarios }}</td> 
		<td>{{ task.created }} ({{task.finished}})</td>
		<td>{{ task.output_folder }}</td>
		<td>{{ task.is_running }}</td>
	       </tr>
		{%endfor%}
	     </tbody>
           </table>
          </div>	  
  <!-- Bootstrap core JavaScript
    ================================================== -->
	<script type="text/javascript" src= "{% static "rallybench/jquery/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src= "{% static "rallybench/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    <script src="./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
