{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
    <link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>

    <!-- Custom CSS -->
    <link rel= "stylesheet" href= "{% static "rallybench/lib/css/sb-admin.css" %}"/>

    <!-- Morris Charts CSS -->
    <link rel= "stylesheet" href= "{% static "rallybench/lib/css/morris.css" %}"/>

    <!-- Custom Fonts -->
    <link type= "text/css" rel= "stylesheet" href= "{% static "rallybench/lib/css/font-awesome.min.css" %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Rally User</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">                               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"> Profile</a>
                        </li>
                        <li>
                            <a href="#"> Task list</a>
                        </li>
                        <li>
                            <a href="#"> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

        		<li class="active">
			   <a href="#">Overview <span class="sr-only">(current)</span></a></li>
			<li>
			   <a href="/rallybench/{{ username }}/deployment" target="_parent"> 
					Deployments <span class="badge">{{numdeployments}}</span> </a>
        	        </li>
        	       <li><a href="/rallybench/{{ username }}/scenario" target="_parent">
					Scenarios <span class="badge">{{numscenarios}}</span> </a>
		       </li>
        	       <li><a href="/rallybench/{{ username }}/tasklist" target="_parent">
					Benchmark Tasks <span class="badge">{{numtasks}}</span> </a>
        	       </li>
        	       <li><a href="/rallybench/{{ username }}/result"target="_parent"> 
					History <span class="badge">{{resultssummary}}</span></a>
			</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small> Overview </small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              <strong>Alpha Release! "Welcome Back" </strong> 
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">                                    
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ numdeployments }}</div>
                                        <div><b>Cloud Deployment</b></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/rallybench/{{ username }}/deployment">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ numtasks }}</div>
                                        <div><b>New Tasks</b></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/rallybench/{{ username }}/tasklist">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ numscenarios }}</div>
                                        <div><b>Scenarios</b></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/rallybench/{{ username }}/scenario">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">                                    
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div><b>Failures</b></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/rallybench/{{ username }}/result">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Activity Donut</h3>
                            </div>			    
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
				<h> Comming Soon! </h>
                                <div class="text-right">
                                    <a href="#">View Details </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Tasks Panel</h3>
                            </div>			    
			    <div class="list-group">
			       {% for task in tasks %}
                               <a href="/rallybench/{{ username }}/tasklist/{{ task.task_id }}" class="list-group-item"> 
				<span class="badge">{{ task.deployment_name }}</span> 
				  {{ task.task_id }}
                               </a>		   	        
                             {%endfor%}
			    </div>
                            <div class="panel-body">
                                <div class="list-group">                                    
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Task Time</th>
						<th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
					 {% for transaction in transactions %}
					  <tr>
                                                <td>{{transaction.trans_id}}</td>
                                                <td>{{transaction.time}}</td>
                                                <td>{{transaction.msg}}</td>
                                           </tr>  
					{%endfor%}                                         
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="/rallybench/{{ username }}/tasklist">View All Transactions </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" src= "{% static "rallybench/jquery/raphael.min.js" %}"></script>
    <script type="text/javascript" src= "{% static "rallybench/jquery/morris.min.js" %}"></script>
    <script type="text/javascript" src= "{% static "rallybench/jquery/morris-data.js" %}"></script>
    <script type="text/javascript" src= "{% static "rallybench/jquery/jquery-2.1.1.min.js" %}"></script>
    <script type="text/javascript" src= "{% static "rallybench/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
</body>

</html>

